build/
rgb/
/*.png
/input/fountain/urd/*
/input/fountain/gt/*
/input/Trajectory_30_seconds/*
!input/Trajectory_30_seconds/README.md
/input/icl_nuim/*
!input/icl_nuim/README.md
*.ply
.DS_Store
screenshot*